

@media (min-width:701px){

    #clinica{

        width: 20%;
    
        font-size:20px;
        font-family: Arial, Helvetica;
    
        margin-left: 3%;
        padding-top: 1%;
    
        color: white;
        background-color:black;
    }
 



.horarios{

    position: relative;
    top: -32px;
    background-color:blue;

    margin-left:30%;
    

}

.contato{

    position: relative;
    top: -64px;
    background-color:blue;

    margin-left:60%;
    

}
}