
/*Css para celulares*/

@media (max-width: 500px){

    header{

        background: linear-gradient(180deg,rgb(94, 94, 245),rgb(94, 94, 245),rgba(94, 94, 245, 0.74));
    
        padding-top: 1%;
        height:100px;

    }

    .clinica{

        width: 20%;
    
        font-size:27px;
        font-family: Arial, Helvetica;
    
        margin:4%;
    
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border:none;
        
    }
    
    .horarios{
        
        position: fixed;
        top: 50px;

        margin-left: 4%;
        margin-bottom:4%;
        margin-left:30%;

        
        color: white;
        font-family: Arial, Helvetica;
        font-size: 14px;
        text-align: center;


       

    }
    
    .contato{

        position: fixed;
        top: 50px;

        margin-left: 4%;
        margin-bottom:4%;
        margin-left:65%;
        
        color: white;
        font-family: Arial, Helvetica;
        font-size: 14px;
        text-align: center;


        
        
    }
}