
@media (max-width: 500px) {
    
    .corpoCalc{

        background-color: rgba(176, 176, 216, 0.699);
    
        margin:10%;
    
        border-radius: 10px;
        border: 2px solid rgb(147, 147, 238);  
    
    }

}